/* Four squares on app page */
#cartogratree_squares {
    display:table;
    table-layout:fixed;
    height:100%;
    width:100%;
}
.cartogratree_row {
    display: table-row;
}
.cartogratree_left, .cartogratree_right {
    display: table-cell;
    width: 50%;
}
#cartogratree_top_left, #cartogratree_bottom_left {
    border-right: 1px solid #fff;
}
#cartogratree_top_right, #cartogratree_bottom_right {
    border-left: 1px solid #fff;
}
#cartogratree_top_left, #cartogratree_top_right {
    border-bottom: 1px solid #fff;
}
#cartogratree_bottom_left, #cartogratree_bottom_right {
    border-top: 1px solid #fff;
}

/* Side navigation menu on app page */
.cartogratree_navbtn {
    font-size: 30px;
    cursor: pointer;
}
.cartogratree_sidenav {
    width: 0; /* Changed with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    background-color: #ADBACA;  /* Same color as the OL controls. */
    overflow-x: hidden; /* Disable horizontal scroll */
    /*transition: 0.5s;  0.5 second transition effect to slide in the sidenav */
}
.cartogratree_sidenav_li {
    padding-left: 5px;
    border-bottom-style: solid;
    border-bottom-color: #FFFFFF;
}
#cartogratree_sidenav_ul {
    list-style: none;
    margin: 2px;
    padding: 0px;
}
#cartogratree_layers_select {
    background-color: #FFFFFF;
}
.cartogratree_select {
    width: 100%;
    border: 0px;
    outline: none;
}
.cartogratree_arrow {
    float: right;
    cursor: pointer;
}

/* message pop-up */
#cartogratree_popup {
    display: none;
    position: fixed;
    top: 50%;
    right: 500px;
    z-index: 2; /* Stay on top */
    background-color: #FFFFFF;
    margin: auto;
    padding: 5px;
    border: 1px solid #888;
    border-radius: 6px;
    width: 300px;
    text-align:center;
}

/* maps pop-up */
.cartogratree_ol_popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}
.cartogratree_ol_popup:after, .cartogratree_ol_popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.cartogratree_ol_popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.cartogratree_ol_popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.cartogratree_ol_popup_closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.cartogratree_ol_popup_closer:after {
    content: "✖";
}