* {
    box-sizing: border-box;
}

#cartogratree_page {
    /*width: 90%;*/
    margin: auto;
}

/* panes layout */
#cartogratree_sidenav {
  display: block; 
  float: left;
  height: 100vh;
  width: 33%;
  margin: 0px;
}
#cartogratree_map_and_info {
  display: block; 
  float: left;
  height: 100vh;
  width: 67%;
  margin: 0px;
}
#cartogratree_map {
	height: 67%;
}
#cartogratree_info {
	height: 33%;
        overflow: scroll;
}

/* maps pop-up */
.cartogratree_ol_popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    border-radius: 10px;
    width: 420px;
    height: 240px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
}
.cartogratree_ol_popup:after, .cartogratree_ol_popup:before {
    position: absolute;
    top: 100%;
    left: 48px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
}
.cartogratree_ol_popup:after {
    border-top-color: white;
    border-width: 10px;
    margin-left: -10px;
}
.cartogratree_ol_popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    margin-left: -11px;
}
.cartogratree_ol_popup_closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.cartogratree_ol_popup_closer:after {
    content: "✖";
}
#cartogratree_popup_right {
    position: absolute;
    left: 100px;
    height: 160px;
    width: 319px;
    overflow-x: auto;
    overflow-y: scroll;
}
#cartogratree_popup_right table {
    border-collapse: collapse;
    width: 100%;
}
#cartogratree_popup_right th, #cartogratree_popup_right td {
    padding-right: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
#cartogratree_popup_right tr:hover {
    background-color: #f5f5f5;
}
#cartogratree_popup_right h4 {
    color: #3897A5;
}

#cartogratree_popup_header {
    background-color: #cccccc;
    height: 60px;
    text-indent: 100px;
    margin: 0px;
}
#cartogratree_popup_left {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 90px;
    height: 230px;
    /*background-color: #ddd;*/
    background-color: white;
    border-radius: 5px;
}
#cartogratree_tree_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    background-color: #ddd;
    border-radius: 5px;
}
#cartogratree_logo_img {
    position: absolute;
    top: 180px;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 4px;
    z-index: 1;
}
#cartogratree_popup_left button {
    position: relative;
    top: 95px;
}

/*jQuery UI*/
#cartogratree_sidenav #cartogratree_info_tabs .ui-widget, .ui-buttonset, fieldset legend {
    font-size: 0.929em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#cartogratree_sidenav .ui-state-active, .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #ffffff;
    background: #007fff;
}
#cartogratree_sidenav .ui-buttonset {
    margin: 0px;
}
.ui-accordion-content{
    min-height: 200px;
    max-height: 2500px;
}
#cartogratree_info_tabs {
    min-height: 33%;
    max-height: 33%;
    overflow: auto;
}
/*jQuery UI checkboxes and radio buttons*/
/*http://freefrontend.com/css-radio-buttons/, https://codepen.io/samkeddy/pen/PbROLK*/
#cartogratree_steps input[type="radio"], input[type="checkbox"]{
  position: absolute;
  visibility: hidden;
  display: none;
}
#cartogratree_steps label {
  color: #222;
  background: #ddd;
  display: inline-block;
  cursor: pointer;
  padding: 2px 7px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
}
#cartogratree_steps input[type="radio"]:checked + label {
  color: #fff;
  background: #2a7ef6;
}
#cartogratree_steps input[type="checkbox"]:checked + label {
  color: #ffffff;
  background: #2a7ef6;
}
#cartogratree_steps legend {
  color: #2a7ef6;
  background: #eee;
  font-weight: bold;
  padding: 2px 7px;
  border-bottom: 1px solid #aaaaaa;
}
