/* Four squares on app page */
.cartogratree_row {
    width: 100%;
    overflow: hidden;
    float: right;
    padding-bottom: 0.5%;
}
.cartogratree_left {
    height: 49.5%;
    width: 49.5%;
    float: left;
}
.cartogratree_right {
    height: 49.5%;
    margin-left: 50%;
}

/* Side navigation menu on app page */
.cartogratree_navbtn {
    font-size: 30px;
    cursor: pointer;
}

.cartogratree_sidenav {
    width: 0; /* Changed with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    background-color: #CCCCCC;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.cartogratree_sidenav_li {
    padding-left: 5px;
    border-bottom-style: solid;
    border-bottom-color: #FFFFFF;
}

#cartogratree_sidenav_ul {
    list-style: none;
    margin: 2px;
    padding: 0px;
}

#cartogratree_layers_select {
    background-color: #FFFFFF;
}

.cartogratree_layers_select {
    width: 100%;
    border: 0px;
    outline: none;
}

#cartogratree_layers_arrow {
    float: right;
    cursor: pointer;
}

/* pop-up */
#cartogratree_popup {
    display: none;
    position: fixed;
    top: 50%;
    right: 500px;
    z-index: 2; /* Stay on top */
    background-color: #FFFFFF;
    margin: auto;
    padding: 5px;
    border: 1px solid #888;
    border-radius: 6px;
    width: 300px;
    text-align:center;
}